* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.main-container {
    height: 75vh;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    outline: solid black 2px;
}

.main-container div {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}